// Styling for the footer
footer {
  padding: 15px 0;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-align: center;
  font-family: monospace;

  a[rel="license"] {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin: 8px 0px;
  }
}
