---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">Posted on {{ page.date | date: '%B %d, %Y' }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <main class="blog-post">
        {{ content }}
      </main>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto post-extras">
        <a href="/" title="Go back to home page">
          <img src="/img/home.svg" width="18" height="18" alt="Go back to home page"/>
        </a>
        <a href="https://github.com/riyaz-ali/riyaz-ali.github.io" target="_blank" title="View source on Github">
          <img src="/img/github.svg" width="18" height="18" alt="source code"/>
        </a>
        <a href="https://twitter.com/intent/tweet?original_referer={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;text={{ page.title | uri_escape }}&amp;tw_p=tweetbutton&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=riyaz-ali" rel="nofollow" target="_blank" title="Tweet">
          <img src="/img/tweet.svg" width="18" height="18" alt="Tweet"/>
        </a>
      </div>
  </div>
</div>